In [1]:
import pandas as pd
import json
import pickle
import os

In [20]:
df = pd.read_excel('./key_dict.xlsx')

rev_cat = {}
for c,k in zip(df['카테고리'],df['하위단어']):
    rev_cat[c] = k.split(',')

In [21]:
rev_cat2 = {}
for i,k in enumerate(rev_cat):
    rev_cat2[i+1] = {k:rev_cat[k]}

In [18]:
rev_cat2[1]['가격']

['구성비', '성비', '가격']

In [24]:
rev_cat2[13]

{'휘트니스': ['피트', '센터', '운동']}

In [22]:
with open ('dictionary2.json','w',encoding='UTF-8-sig') as f:
    json.dump(rev_cat2,f,indent=4,ensure_ascii=False)

In [1]:
import pandas as pd

In [3]:
pd.read_csv('./files/수영장_사우나_스파.csv')

,ht_id,cat_id,date,review
0,1,12,2022.01.17,킹스파크 예뻐요
1,3,12,2022.12.31,사우나가 좋았고 라운지도 잘 활용하였음
2,3,12,2023.02.07,커튼을 치면 반대쪽 건물 직원과 인사할 수 있다 가격 대비 애매한 느낌 역삼 강남...
3,3,12,2022.11.28,객실이랑 조식 뷔페 사우나 등 장소가 너무 협소해 좀 답답한 면이 있습디
4,3,12,2022.06.02,공용 로비와 사우나 시설을 청소하고 관리하시는 나이 드신 분들까지도 모두 친절하여 ...
...,...,...,...,...
6019,386,12,2022.09.14,수영장이나 숙소의 깔끔함은 좋았지만 시설이 부실했던 것 같습니다
6020,386,12,2022.09.18,수영장 물 따뜻하고 놀기 좋아요
6021,386,12,2023.01.08,수영장은 동절기라 운영이 안됐고 조식이 포함 안된 거였어요
6022,386,12,2023.02.19,뷰는 시내라서 기대하지 않는 게 좋고요 수영장은 겨울부터 4월 거지는 개장 없어요
6023,386,12,2022.07.16,방도 깨끗하고 루프탑 수영장 기대 이상으로 너무 즇았구요 조식도 대만족이었습니다